# this is a comment

# configs are processed in order of opening;
# later config files take precedence over 
# earlier ones. 

# configs are read as such:
#		/etc/dfshack/config
#		Included config files
#		<dfsdir>/<user>/.dfshack/config
#		Included config files

# config importing isn't well done right now since I don't like it.
config = /usr/share/dfshack.conf

# user dfs directories location
sourcedir = /mnt/dfs

# file to write logs to
log file = /var/log/dfshack.log

# Detail of log messages
#  0 = No log messages (not recommended)
#  1 = Info
#  2 = Warnings
#  3 = Debug
log min = 0
log max = 7

